<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon-32x32.png') }}" type="images">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style2.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Habibi&display=swap" rel="stylesheet">
</head>

<body>
    <div class="a">
        Eiffel
    </div>
    <div class="d">
        <div class="b">
            Converts photos into dynamic videos with transitions, music, and customizable durations for engaging storytelling.

        </div>
        <div>
            <img src="{{url_for('static', filename='images/whatever.jpg')}}" class="c">
        </div>
    </div>
    <br><br><hr style="width: 70%;"><br><br>
    <div>
        <h2 class="e">1.Upload Images</h2>
    </div>
    <div>
        <div class="g">
            <div class="drop-container" id="dropContainer">
                <p class="drop-message">Drag & Drop images here or click to select</p>
                <input type="file" id="fileInput" multiple>
                <div id="previewContainer"></div>
            </div>

            <script src="{{url_for('static', filename='script/script.js')}}"></script>
        </div>
    </div>
    <br><br><hr style="width: 70%;"><br><br>
    <div>
       <h2 class="h"> 2.Add background music </h2>
    </div>
     
    <div class="i">
        <div class="audio-container">
            <input type="file" id="audioInput" accept="audio/*" style="display: none;" onchange="handleAudioFile()">
            <button onclick="openAudioFileInput()">Select Audio</button>
            <p id="selectedAudioName"></p>
            <div id="audioControls">
                <button id="playPauseButton" onclick="togglePlayPause()">
                    <span id="playIcon">▶️</span>
                    <span id="pauseIcon" style="display: none;">⏸</span>
                </button>
            </div>
        </div>
    
        <script src="url_for('static', filename='script'script2.js)"></script>
    </div>
    <br><br><hr style="width: 70%;"><br><br>
    <div>
        <h2 class="j">3.Create Video</h2>
    </div>

    <div>
       <a href="video.html">
        <div class="k">
            create
        </div>
        <br><br><br>
       </a>
    </div>

</body>